	
	/* immediate children (para) of div element */
	div>p
	{
		color: black;				
	}

	/* apply navy blue color to heading h4 */
	h4
	{
		color: #000080;
	}

	/* para inside footer div */
	div#footerdiv>p
	{
		margin-top: 10px;
		margin-left: 50px; 
		padding: 10px 15px;
		color: black;
	}

	/* immediatebuttons defined under div */
	div>input[type=button]
	{
	 	margin-top: 5px;	 	
	}